!/gradle/wrapper/gradle-wrapper.jar
*.aab
*.ap_
*.apk
*.class
*.ctxt
*.dex
*.ear
*.hprof
*.iml
*.ipr
*.iws
*.jar
*.jks
*.keystore
*.log
*.nar
*.rar
*.swp
*.tar.gz
*.war
*.zip
*~
.classpath
.cproject
.cxx/
.externalNativeBuild
.externalNativeBuild/
.gradle
.gradle/
.idea/
.idea/$CACHE_FILE$
.idea/**/aws.xml
.idea/**/azureSettings.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/markdown-navigator-enh.xml
.idea/**/markdown-navigator.xml
.idea/**/markdown-navigator/
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sonarIssues.xml
.idea/**/sonarlint/
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/caches/
.idea/caches/build_file_checksums.ser
.idea/codestream.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dataSources.ids
.idea/datasources.xml
.idea/dictionaries
.idea/dynamic.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/httpRequests
.idea/jarRepositories.xml
.idea/jsLibraryMappings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/mongoSettings.xml
.idea/navEditor.xml
.idea/replstate.xml
.idea/scopes/scope_settings.xml
.idea/shelf/
.idea/sonarlint/
.idea/sqlDataSources.xml
.idea/tasks.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea_modules/
.mtj.tmp/
.navigation/
.project
.settings/
.signing/
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/out/
atlassian-ide-plugin.xml
bin/
build/
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
deploymentTargetDropDown.xml
fabric.properties
gen-external-apklibs
gen/
google-services.json
hs_err_pid*
local.properties
misc.xml
obj/
out/
output.json
proguard/
render.experimental.xml
replay_pid*